<div class="checkout_products">
  <p class="price">Shop Items</p>
</div>

<section class="about">
  <div class="row">
    <div class="col50">
      <div class="imgBx">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLK_p5LMxsVa5_8N-Pt9n8apqPRpc3BuPYJA&usqp=CAU"
          alt=""
          class="checkout_product_img"
        />
      </div>
    </div>

    <div class="col50">
      <h2 class="titleText">GAMING IPHONE 12</h2>
      <div class="checkout_product_info">
        <p class="checkout_product_title">
          {{ p.title }}
        </p>
        <img
          src="https://cdn2.hubspot.net/hubfs/4567260/0_KZ8hBw7pQZFFt2Mt.png"
          alt=""
        />
        <p class="checkout_product_in_stock">In Stock</p>
        <div class="checkout_product_gift">
          <input type="checkbox" />
          <p>This is a gift</p>
          <a routerLink="/" class="checkout_product_more"> Learn more</a>
        </div>
        <div class="checkout_options">
          <div class="checkout_dropdown"></div>
          <a href="#"> Add to your wish list</a>
          <a href="#">Save for later</a>
          <a href="#">Compare with similar items</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="expert" id="expert">
  <div class="title">
    <h2 class="titleText">Our Products</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, saepe?</p>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReyx9B2Y0BUVPggtbj4uvIWLUXzyjGyrqH1Q&usqp=CAU"
          alt=""
        />
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7kIGk06AIoBPeD159P08-6bju9O2WMU2FqA&usqp=CAU"
          alt=""
        />
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://imgix.bustle.com/uploads/image/2020/11/12/83cfe6f5-082f-4cf9-bd1f-8805fc3021ef-apple-cyber-monday-deals-2020.png?w=800&fit=crop&crop=focalpoint&auto=format%2Ccompress&fp-x=0.5786666666666667&fp-y=0.5379146919431279"
          alt=""
        />
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8rVw8wkzj3LPmty_vt7b0Ib374XPSc_wV5g&usqp=CAU"
          alt=""
        />
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
  </div>
</section>
