.price {
  /* align-items: right; */
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
  margin: 20px 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(219, 218, 218);
}
.checkout_product {
  border-top: solid 1px rgb(219, 218, 218);
  display: flex;
  width: 100%;
}
.checkout_product_img {
  object-fit: contain;
  width: 50%;
  max-height: 200px;
}
.checkout_product_info {
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
}
.checkout_product_title {
  color: #0066c0;
  font-size: 17px !important;
  font-weight: 700 !important;
  line-height: 1.255 !important;
}
.checkout_product_info > img {
  height: 20px;
  object-fit: contain;
}
.checkout_product_in_stock {
  color: #067d62 !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
}
.checkout_product_gift {
  display: flex;
  flex-direction: row;
}
.checkout_product_gift > input {
  margin-right: 5px;
  margin-left: 5px;
}
.checkout_product_more {
  text-decoration: none;
  margin-left: 5px;
  color: #0066c0;
}
.checkout_options {
  display: flex;
}
.checkout_options > a {
  text-decoration: none;
  margin: 8px;
  color: #0066c0;
  height: 20px;
  font-size: 12px !important;
  padding-left: 8px;
  border-left: solid lightgray 1px;
  cursor: pointer;
}

.checkout_products_price {
  /* display: flex;
    flex-direction: column; */
  margin-top: 12px;
  text-align: right;
  font-size: 17px !important;
  line-height: 1.255 !important;
}
.checkout_products_subtotal {
  margin-top: 20px;
  border-top: solid 1px rgb(219, 218, 218);
  width: 100%;
  text-align: right;
}
.checkout_products_subtotal {
  font-size: 17px !important;
  line-height: 1.255 !important;
}

mat-form-field {
  background-color: gray;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #000000;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.expert .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

.title {
  text-align: center;
}
